.main-container {
    padding-left: 0px;
    padding-right: 0px;
}

#banner {
    height: 450px;
    width: 100%;
    background-color: lightgrey;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url('https://tinyurl.com/yaqm8xs9');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    overflow: hidden;
  }


#title {
    text-align: center;
    position: relative;
    top: 1em;
    margin: auto;
    color: #B83C34;
}

.add-button {
    position: relative;
    top: 7em;
    width: 100%;
    height: 100px;
    margin: auto;
    text-align: center;
}

#reviews {
    height: 100%;
}

.reviews-title {
    padding-top: 20px;
    text-align: center;
    color: #B83C34;
}

.divider {
    background: #B83C34;
    height: 2px;
    width: 600px;
    margin: 20px auto;
}

.top-reviews {
    width: 66%;
    margin: auto;
}

.userReview {
    padding-top: 2em;
    padding-bottom: 2em;
}

.image {
    float: left;
    text-align: center;
}

.reviewContent {
    float: right;
    padding-left: 2em;
}

#footer {
    height: 200px;
    text-align: center;
    background-color: #B83C34;
}

#footer-text {
    color: #FFFFFF;
    top: 10em;
    position: relative; 
}